<h1>BIG ASS MOVIES LIST</h1>
<% movies.each do |movie| %>
  <ul>
    <li><a href="/movies/<%= movie.id %>"><%= movie.title %></a> (<%= movie.genre %>)<br>
      Released <%= movie.year %> by <%= movie.studio %><br>
      Rating: <%= movie.rating %>
    </li>
  </ul>
<% end %>
