<h1>BIG ASS MOVIES LIST</h1>
<form action="/movies/search" method="get">
  <input type="text" name="query">
  <input type="submit" value="Search">
</form>
<a href="/movies">Sort by title</a></br>
<a href="/movies?order=year">Sort by year</a></br>
<a href="/movies?order=rating">Sort by rating</a></br>

<% movies.each do |movie| %>
  <ul>
    <li><a href="/movies/<%= movie.id %>"><%= movie.title %></a> (<%= movie.genre %>)<br>
      Released <%= movie.year %> by <%= movie.studio %><br>
      Rating: <%= movie.rating %>
    </li>
  </ul>
<% end %>

<% if page_number %>
<a href="/movies?page=<%= page_number + 1%>&order=<%= order %>">Next page</a>
<% end %>
