<h1>HERE'S WHAT YOU FOUND:</h1>
<form action="/movies/search" method="get">
  <input type="text" name="query">
  <input type="submit" value="Search">
</form>

<% if movies.empty? %>
<h2> NOTHING </h2>
<% end %>

<% movies.each do |movie| %>
  <ul>
    <li><a href="/movies/<%= movie.id %>"><%= movie.title %></a> (<%= movie.genre %>)<br>
      Released <%= movie.year %> by <%= movie.studio %><br>
      Rating: <%= movie.rating %>
    </li>
  </ul>
<% end %>
